<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FairyGodStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sharedlayoutfooter.css" />
    <link rel="stylesheet" href="~/css/adminlayoutstyle.css" />
</head>
<body>
    <div class="header">
        @*<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">*@
        @*<div class="container">*@
        <div>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FairyGodStore @(string.IsNullOrEmpty(ViewBag.brand) ? "" : " - " + ViewBag.brand) </a>
        </div>
        @*</nav>*@
        @if (Context.Request.IsLogin())
        {
            <div ctype="authen">
                <a class="navbar-brand" href="/authen/logout">Logout</a>
            </div>
        }
        else
        {
            <div ctype="authen">
                <a class="navbar-brand" href="/authen">Login</a>
            </div>
        }
    </div>
    @*<div class="container">*@
    <div class="body-flexbox">
        <div class="left-flexbox">
            <ul>
                <li attr-href="#">USER</li>
                <li attr-href="#">ROLE</li>
                <li id="idadminbook" attr-href="/admin/book">BOOK</li>
                <li id="idadminbookList" hidden attr-child="lv1" attr-href="/admin/book">List</li>
                <li id="idadminbookCreate" hidden attr-child="lv1" attr-href="/admin/book">Create</li>
            </ul>
        </div>
        <div class="content-flexbox">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    @*<footer class="border-top footer text-muted rootfooter">*@
    <div class="footer">
        @*<div class="container">*@
        <div>
            &copy; 2023 - FairyGodStore @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        document.getElementById("idadminbook").addEventListener("click", actBookClick);
        document.getElementById("idadminbookList").addEventListener("click", actRedirect(this, event));

        function actBookClick() {
            var listBook = document.getElementById("idadminbookList");
            var createBook = document.getElementById("idadminbookCreate");

            if (listBook.hasAttribute("hidden")) {
                listBook.hidden = false;
            }
            else {
                listBook.hidden = true;
            }

            if (createBook.hasAttribute("hidden")) {
                createBook.hidden = false;
            }
            else {
                createBook.hidden = true;
            }
        }

        function actRedirect(args, event) {
            //let red = document.getElementById("idadminbookList").getAttribute("attr-href");
            //window.location.href = red;
            event.preventdefault();
                alert("123");
        }
    </script>
</body>
</html>
