
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FairyGodStore</title>
    <link href="~/css/loginstyle.css" rel="stylesheet" />
</head>
<body>

    <form asp-action="Authenticate" method="post">
        <div class="imgcontainer">
            <img src="../image/img_avatar2.png" alt="Avatar" class="avatar">
        </div>

        <div class="container">
            <label ctype="title"><b>LOG IN</b></label>
            <input type="text" placeholder="Username, email, ..." autofocus name="Username" required>

            <input type="password" placeholder="Password" name="Password" required>

            <label ctype="checkbox">
                <input type="checkbox" name="remember"> Remember me
            </label>

            <button type="submit"><b>LOGIN</b></button>

            <a ctype="forgotpwd" href="#">Forgot Password?</a>
        </div>
    </form>

</body>
</html>