<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FairyGodStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/sharedlayoutfooter.css" />
    <link rel="stylesheet" href="~/css/defaultlayoutstyle.css" />
    <link rel="stylesheet" href="~/css/MenuDropDownStyle.css" />
</head>
<body>
    <div class="header">
        @*<div class="container">*@
        @if (Context.Request.IsAdmin())
        {
            <div>
                <button onclick="myFunction()" class="dropbtn"></button>

                <div id="myDropdown" class="dropdown-content">
                    <a href="/admin">Admin Site</a>
                </div>
            </div>
        }
        <div>
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FairyGodStore @(string.IsNullOrEmpty(ViewBag.brand) ? "" : " - " + ViewBag.brand) </a>
        </div>
        @if (Context.Request.IsLogin())
        {
            <div ctype="authen">
                <a class="navbar-brand" href="/authen/logout">Logout</a>
            </div>
        }
        else
        {
            <div ctype="authen">
                <a class="navbar-brand" href="/authen">Login</a>
            </div>
        }
    </div>
    @*<div class="container">*@
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer">
        @*<div class="container">*@
        <div>
            &copy; 2023 - FairyGodStore @*- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </div>
    <script>
        function myFunction() {
            //if (!document.getElementById("myDropdown").classList.contains("show")
            //    document.getElementById("myDropdown").classList.add("show");
            //else
            document.getElementById("myDropdown").classList.toggle("show");
        }

        window.onclick = function (event) {
            if (!event.target.matches('.dropbtn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
