@model FairyGodStore.Models.BookChapter
@{
    ViewData["Title"] = ViewBag.Title;
}

<div class="container">
    <br />
    <h3>@Model.Title</h3>
    <br />
    @if (Model != null)
    {
        <p>
            @Model.bookcontent.Content
        </p>
    }
    <br />
    <br />
    <br />
</div>
